body {
  font-family: 'Spartan', sans-serif;
}

header {
  color: #EFB0A1;
  font-family: 'Spartan', sans-serif;
}

.logonavbar {
  width: 50px;
  height: 50px;
}

.hero-image {
  background-image: url("../images/heroimage.jpg");
  height: 800px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EFB0A1;
}

.Aboutme {
  background-color: #EFB0A1;
  position: relative;
  padding: 10px;
  color: white;
  font-family: 'Spartan', sans-serif;
}

.col-6aboutme {
  position: absolute;
  top: 30%;
  left: 50%;
}

.services-container {
  color: #EFB0A1;
  background-color: white;
  padding: 40px 40px;
  text-align: center;
  align-items: center;
}

.icon1 {
  width: 50px;
  height: 50px;
}

.icon2 {
  width: 50px;
  height: 50px;
}

.myworks-container {
  background-color: #F1F1F1;
  text-align: center;
  padding: 50px;
  color: #EFB0A1;
}

.pic1 {
  width: 250px;
  height: 200px;
  float: left;
}

.pic2 {
  width: 350px;
  height: 200px;
  float: center;
}

.pic3 {
  width: 250px;
  height: 200px;
  float: right;
}

.pic4 {
  width: 250px;
  height: 200px;
  float: left;
}

.pic5 {
  width: 350px;
  height: 200px;
  float: center;
}

.pic6 {
  width: 250px;
  height: 200px;
  float: right;
}

.contact-container {
  color: #EFB0A1;
  font-family: "Spartan", sans-serif;
  padding: 30px 30px;
}
.contact{
  text-align: center;
}

.forms {
  color: #EFB0A1;
}

.btn {
  background-color: #EFB0A1;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 55px 10px 55px;
  font-family: "Spartan", sans-serif;
  text-align: left;
}

.bottom-container {
  background-color: #EFB0A1;
  color: white;
  text-align: center;
  padding: 45px 45px;
}

.logofooter {
  width: 50px;
  height: 50px;
  float: left;
}

.instagram {
  width: 30px;
  height: 30px;
  float: right;
}

.facebook {
  width: 30px;
  height: 30px;
  float: right;
}

h6 {
  color: white;
}

h5 {
  color: white;
  align: center;
}
